// Variables

$burgerlicious__button--width: 32px !default;
$burgerlicious__button--height: 32px !default;
$burgerlicious__burger--color: #333 !default;
$burgerlicious__burger--weight: 2px !default;
$burgerlicious__burger--animation-speed: .5s !default;
$burgerlicious__burger--animation-rotation: 'right' !default; // TODO: Throw error if not left / right

// Styles

.burgerlicious {

	&__button {
		position: relative;
		width: $burgerlicious__button--width;
		height: $burgerlicious__button--height;
		padding: ( ( $burgerlicious__button--height - 32px ) / 2 ) ( ( $burgerlicious__button--width - 32px ) / 2 );
		background: none; // Reset
		border: none; // Reset
		box-shadow: none; // Reset
		cursor: pointer; // Usability
	}

	&__icon {
		transform: rotate(0);
		transition: transform $burgerlicious__burger--animation-speed ease-in-out;

		.burgerlicious__button.is-open & {
			@if $burgerlicious__burger--animation-rotation == 'right' {
				transform: rotate(270deg);
			} @else if $burgerlicious__burger--animation-rotation == 'left' {
				transform: rotate(-270deg);
			}
		}

	}

	&__line {
		stroke: $burgerlicious__burger--color;
		stroke-width: $burgerlicious__burger--weight;
		transform-origin: 50% 50%;

		&--top {
			transform: translateY(0) rotate(0);
			transition: transform $burgerlicious__burger--animation-speed ease-in-out;

			.burgerlicious__button.is-open & {
				@if $burgerlicious__burger--animation-rotation == 'right' {
					transform: translateY(6px) rotate(45deg);
				} @else if $burgerlicious__burger--animation-rotation == 'left' {
					transform: translateY(6px) rotate(-45deg);
				}
			}

		}

		&--middle {
			transform: scaleX(1);
			transition: opacity ( $burgerlicious__burger--animation-speed / 1.5 ) ease-in-out ( $burgerlicious__burger--animation-speed / 3 ),
						transform ( $burgerlicious__burger--animation-speed / 1.5 ) ease-in-out ( $burgerlicious__burger--animation-speed / 3 );

			.burgerlicious__button.is-open & {
				opacity: 0;
				transform: scaleX(.1);
			}

		}

		&--bottom {
			transform: scaleX(1);
			transition: transform $burgerlicious__burger--animation-speed ease-in-out;

			.burgerlicious__button.is-open & {
				@if $burgerlicious__burger--animation-rotation == 'right' {
					transform: translateY(-6px) rotate(-45deg);
				} @else if $burgerlicious__burger--animation-rotation == 'left' {
					transform: translateY(-6px) rotate(45deg);
				}
			}

		}

	}

}
